<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">
    <!-- Define head variables -->
    <th:block th:insert="~{layout :: head('Product Details', ~{::pageStyles})}"></th:block>

    <!-- truque: trocamos o root por um replace no layout -->
    <th:block th:replace="~{layout :: layout(~{::content}, ~{::pageScripts})}">
        <main th:fragment="content">
            <div>
                <div th:text="${product.name}"></div>
                <div th:text="${product.description}"></div>
                <div th:text="${product.price}"></div>
                <div th:each="image : ${product.productImages}">
                    <img th:src="@{|/uploads/${image.productImageId}${image.fileExtension}|}" alt="Imagem do Produto" class="bg-size-[auto_100px]">
                </div>
                <div th:text="${product.getStockQuantity}"></div>
            </div>
            <div>
                <h1>Add to your cart</h1>
                <form th:action="@{/cart/add-item}" method="post">
                    <input type="hidden" name="productId" th:value="${product.productId}">

                    <label for="quantity">Quantity of this product</label>
                    <input type="number" id="quantity" name="quantity">

                    <button type="submit">Add to Cart</button>
                </form>
            </div>
        </main>
    </th:block>
</html>