<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">
    <!-- Define head variables -->
    <th:block th:insert="~{layout :: head('Product Details', ~{::pageStyles})}"></th:block>

    <!-- truque: trocamos o root por um replace no layout -->
    <th:block th:replace="~{layout :: layout(~{::content}, ~{::pageScripts})}">
        <main th:fragment="content">
            <div>
                <div th:text="${product.getName}"></div>
                <div th:text="${product.getDescription}"></div>
                <div th:text="${product.getPrice}"></div>
                <div th:each="image : ${product.productImages}">
                    <img th:src="@{|/uploads/${image.productImageId}${image.fileExtension}|}" alt="Imagem do Produto" class="bg-size-[auto_100px]">
                </div>
                <div th:text="${product.getStockQuantity}"></div>
            </div>
        </main>
    </th:block>
</html>