<header th:fragment="header">
    <div class="flex justify-between items-center w-full bg-amber-500 p-4">
        <h1 class="text-3xl font-bold"><a href="/">Voyager</a></h1>
<!--        <div> <!-- TODO: Hear is going to hava the search products feature \-\-\>
            <form th:action="${/}" method="POST">
                
            </form>
        </div>-->
        <div>
            <a href="/product/all-products" class="bg-white py-2 px-4 hover:bg-amber-300 rounded-sm">All Products</a>
            <a href="/product/add" class="bg-white py-2 px-4 hover:bg-amber-300 rounded-sm">Create a Product</a>
        </div>
        <div>
            <a href="/user/sign-up" class="bg-white py-2 px-4 hover:bg-amber-300 rounded-sm">Sign Up</a>
            <a href="/user/sign-in" class="bg-white py-2 px-4 hover:bg-amber-300 rounded-sm">Sign In</a>
        </div>
    </div>
</header>
