<header th:fragment="header">
    <div class="flex justify-between items-center w-full bg-amber-500 p-4">
        <div>
            <a href="/"><img th:src="@{/img/VoyagerLogo.svg}" alt="Voyager Logo"></a>
            <!-- TODO: Hear is going to have the search products feature \-\-\>
            <form th:action="${/}" method="POST">
                
            </form>-->
        </div>
        <div>
            <a href="/product/all-products">
                <button 
                    class="bg-slate-200 py-2 px-4 rounded-lg shadow-xl transform transition delay-50 duration-700 ease-in-out hover:-translate-y-1 hover:scale-110 hover:bg-amber-300">
                    All Products
                </button>
            </a>
            <a href="/product/add">
                <button
                    class="bg-slate-200 py-2 px-4 rounded-lg shadow-xl transform transition delay-50 duration-700 ease-in-out hover:-translate-y-1 hover:scale-110 hover:bg-amber-300">
                    Create Product
                </button>
            </a>
        </div>
        <div>
            <a href="/user/sign-up">
                <button
                    class="bg-slate-200 py-2 px-4 rounded-lg shadow-xl transform transition delay-50 duration-700 ease-in-out hover:-translate-y-1 hover:scale-110 hover:bg-amber-300">
                    Sign Up
                </button>
            </a>
            <a href="/user/sign-in">
                <button
                    class="bg-slate-200 py-2 px-4 rounded-lg shadow-xl transform transition delay-50 duration-700 ease-in-out hover:-translate-y-1 hover:scale-110 hover:bg-amber-300">
                    Sign In
                </button>
            </a>
            <a href="/cart/view">
                <button
                    class="bg-slate-200 py-2 px-4 rounded-lg shadow-xl transform transition delay-50 duration-700 ease-in-out hover:-translate-y-1 hover:scale-110 hover:bg-amber-300">
                    Cart
                </button>
            </a>
            <a href="/about">
                <button 
                    class="bg-slate-200 py-2 px-4 rounded-lg shadow-xl transform transition delay-50 duration-700 ease-in-out hover:-translate-y-1 hover:scale-110 hover:bg-amber-300">
                    About Us
                </button>
            </a>
        </div>
    </div>
</header>
