<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(title, pageStyles)">
  <meta charset="UTF-8">
  <title th:text="${title}"></title>
  <link rel="icon" type="image/x-icon" th:href="@{/img/VoyagerMiniLogo.svg}">
  <script src="https://cdn.tailwindcss.com"></script> <!--Customization with Tailwind-->
  <!-- espaço opcional para CSS específico da página -->
  <th:block th:insert="${pageStyles} ?: ~{}"></th:block>
</head>
<!-- Fragmento com “slot” -->
<th:block th:fragment="layout(content, pageScripts)">
    <body class="font-sans">
        <header th:replace="~{fragments/header :: header}"></header>
        <div class="min-h-screen bg-gradient-to-br from-amber-200 via-white to-amber-100 flex flex-col items-center justify-center px-4">
            <main th:replace="${content}">
                <!-- aqui entra o conteúdo da página -->
            </main>

            <footer class="mt-4">© 2025</footer>
            <!-- espaço opcional para JS específico da página -->
            <th:block th:insert="${pageScripts} ?: ~{}"></th:block>
        </div>
    </body>
</th:block>
</html>